<header>
  <img class = "imgclass" [src]="logo" width= "150px" height= "50px"/>

<h1>  
    <h1><span style="color: #015E87">Blue</span><span style = "color: #ADACA8">Ray</span></h1>
   </h1>   
</header>
  <nav>
      <li>Home</li>
      <li>About Us</li>
      <li>Our services</li>
      <li>Shipping</li>
      <li>Tracking</li>
      <li>Contact Us</li>
  </nav>
 
<!-- 
 <nav class="sidemenu">
  <li><a routerLink='/'>Information Desk</a></li>
  <li><a routerLink='/ff'>Feedback Form</a></li>
 <li><a routerLink='/bb'>Find Branches</a></li> 
  <li><a routerLink='/cc'>Career Opportunities</a></li>
 </nav>

<main>
  <router-outlet></router-outlet>
</main> -->

<div  class="container-fluid">
  <div class="row">
      <div class="col-sm-3">
          <div class="nav-side-menu">
              <div class="menu-list">
                  <ul id="menu-content" class="menu-content collapse out">
                      <li>
                        <a routerLink='/'>Information Desk</a>
                      </li>
                      <li>
                        <a routerLink='/ff'>Feedback Form</a>
                    </li>
                    <li>
                        <a routerLink='/bb'>Find Branches</a>
                    </li>

                    <li>
                        <a routerLink='/cc'>Career Opportunities</a>
                    </li>
                     

                  </ul>



              </div>
      </div>
     
  </div>

</div>



<div *ngFor="let inf of info"  >
     
  
    <div class="container">
        
        
        <div class="box">
            <div class="icon"><img class = "icons" [src]="icon3"  />
            </div>
            <div class='details'>
                <h4>Phone:</h4>
                <h3> {{inf.phone}} </h3></div>
        </div>
        
        <div class="box">
            <div class="icon"><img class = "icons" [src]="icon1"  /></div>
            <div class='details'><h4>Email:</h4>
                <h3> {{inf.email}} </h3></div>

        </div>


        <div class="box">
            
                <div class="icon"><img class = "icons" [src]="icon2"  /></div>
                <div class='details'><h4>Address:</h4>
                    <h3> {{inf.address}} </h3></div>
            </div>

        </div>

      
    
  <!-- <h1>Information Desk</h1>


        <label>Phone:</label>
        <p> {{inf.phone}} </p>

  <label>Email:</label>
 <p> {{inf.email}} </p>

 <label>Address:</label>
 <p> {{inf.address}} </p> -->
</div>

<div id="successmsg"  >
    <h4>
        Need a hand or high five? Contact Us for any answer you need!.

    </h4>
    <img [src]="thanku" class="ty"/>
  </div>
  
  

<main>

    <router-outlet>
  
    </router-outlet>
    
   </main>

</div>


  